<div>
    <p-menubar [model]="items ">
        <input type="text" pInputText placeholder="Search">
        <button pButton label="Logout" icon="pi pi-power-off"></button>
    </p-menubar>
</div>

<div class="col-3  side-menu">
<p-panelMenu [model]="items2" [style]="{'width':'300px'}"></p-panelMenu>
</div>

  
  <div class="col-9 main-content">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
<div class="col-12 footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="">Saikumar</a>
    </div> 

    
   


