<p>home works!</p>
<p> ./src/app/field/field.component.ts - Warning: Invalid dependencies have been reported by plugins or loaders for this module. All reported dependencies need to be absolute paths.   
    Invalid dependencies may lead to broken watching and caching.
    As best effort we try to convert all invalid values to absolute paths and converting globs into context dependencies, but this is deprecated behavior.
    Loaders: Pass absolute paths to this.addDependency (existing files), this.addMissingDependency (not existing files), and this.addContextDependency (directories).
    Plugins: Pass absolute paths to fileDependencies (existing files), missingDependencies (not existing files), and contextDependencies (directories).
    Globs: They are not supported. Pass absolute path to the directory as context dependencies.
    The following invalid values have been reported:
     * "\\Angular\\table\\package.json"
     * "\\Angular\\table\\src\\assets\\bg.png"
    
    ./src/app/login/login.component.ts - Warning: Invalid dependencies have been reported by plugins or loaders for this module. All reported dependencies need to be absolute paths.   
    Invalid dependencies may lead to broken watching and caching.
    As best effort we try to convert all invalid values to absolute paths and converting globs into context dependencies, but this is deprecated behavior.
    Loaders: Pass absolute paths to this.addDependency (existing files), this.addMissingDependency (not existing files), and this.addContextDependency (directories).
    Plugins: Pass absolute paths to fileDependencies (existing files), missingDependencies (not existing files), and contextDependencies (directories).
    Globs: They are not supported. Pass absolute path to the directory as context dependencies.
    The following invalid values have been reported:
     * "\\Angular\\table\\package.json"
     * "\\Angular\\table\\src\\assets\\logo2.png" ./src/app/field/field.component.ts - Warning: Invalid dependencies have been reported by plugins or loaders for this module. All reported dependencies need to be absolute paths.   
     Invalid dependencies may lead to broken watching and caching.
     As best effort we try to convert all invalid values to absolute paths and converting globs into context dependencies, but this is deprecated behavior.
     Loaders: Pass absolute paths to this.addDependency (existing files), this.addMissingDependency (not existing files), and this.addContextDependency (directories).
     Plugins: Pass absolute paths to fileDependencies (existing files), missingDependencies (not existing files), and contextDependencies (directories).
     Globs: They are not supported. Pass absolute path to the directory as context dependencies.
     The following invalid values have been reported:
      * "\\Angular\\table\\package.json"
      * "\\Angular\\table\\src\\assets\\bg.png"
     
     ./src/app/login/login.component.ts - Warning: Invalid dependencies have been reported by plugins or loaders for this module. All reported dependencies need to be absolute paths.   
     Invalid dependencies may lead to broken watching and caching.
     As best effort we try to convert all invalid values to absolute paths and converting globs into context dependencies, but this is deprecated behavior.
     Loaders: Pass absolute paths to this.addDependency (existing files), this.addMissingDependency (not existing files), and this.addContextDependency (directories).
     Plugins: Pass absolute paths to fileDependencies (existing files), missingDependencies (not existing files), and contextDependencies (directories).
     Globs: They are not supported. Pass absolute path to the directory as context dependencies.
     The following invalid values have been reported:
      * "\\Angular\\table\\package.json"
      * "\\Angular\\table\\src\\assets\\logo2.png" ./src/app/field/field.component.ts - Warning: Invalid dependencies have been reported by plugins or loaders for this module. All reported dependencies need to be absolute paths.   
      Invalid dependencies may lead to broken watching and caching.
      As best effort we try to convert all invalid values to absolute paths and converting globs into context dependencies, but this is deprecated behavior.
      Loaders: Pass absolute paths to this.addDependency (existing files), this.addMissingDependency (not existing files), and this.addContextDependency (directories).
      Plugins: Pass absolute paths to fileDependencies (existing files), missingDependencies (not existing files), and contextDependencies (directories).
      Globs: They are not supported. Pass absolute path to the directory as context dependencies.
      The following invalid values have been reported:
       * "\\Angular\\table\\package.json"
       * "\\Angular\\table\\src\\assets\\bg.png"
      
      ./src/app/login/login.component.ts - Warning: Invalid dependencies have been reported by plugins or loaders for this module. All reported dependencies need to be absolute paths.   
      Invalid dependencies may lead to broken watching and caching.
      As best effort we try to convert all invalid values to absolute paths and converting globs into context dependencies, but this is deprecated behavior.
      Loaders: Pass absolute paths to this.addDependency (existing files), this.addMissingDependency (not existing files), and this.addContextDependency (directories).
      Plugins: Pass absolute paths to fileDependencies (existing files), missingDependencies (not existing files), and contextDependencies (directories).
      Globs: They are not supported. Pass absolute path to the directory as context dependencies.
      The following invalid values have been reported:
       * "\\Angular\\table\\package.json"
       * "\\Angular\\table\\src\\assets\\logo2.png"</p>